@media (max-width: 1200px){
  .goals ,.views {
      height: 460px;
    }
}

@media (max-width: 980px){
.goals ,.views {
  height: 575px;
}
}

@media (max-width: 768px){
.navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
  float:left;
}
.goals ,.views {
  height: auto;
}

.navside {
    z-index: 999999;
}
