@media (max-width: 1200px){

}
@media (max-width: 1024px){
  .search button
  {
    top:55px;
  }
  .navbar-default .navbar-nav>li>a
  {
    font-size: 11px;
  }
  .bootstrap-select.btn-group .dropdown-toggle .filter-option
  {
    font-size: 14px;
  }
}
@media (max-width: 980px){
  .top-header {
    text-align: -webkit-center;
  }
  .top-header a {
    float: none;
  }
  .logo {
    text-align: -webkit-center;
  }
  .circle ,.circle1,.circle2 ,.circle3 ,.circle4,.circle5,.circle6
  {
    margin: 0 auto;
  }
  span.works
  {
    float: none;
    padding:inherit;
  }
  .types
  {
    text-align: center;
    padding: 30px 0;
  }
  .call, .info , .social , .copyright {
    text-align: -webkit-center;
  }
  .search button
  {
    top:5px;
  }
  .navbar-default .navbar-nav>li>a
  {
    font-size: 14px;
  }

  .goals
  {
    padding: 50px 40px;
  }
  .goals li
  {
    font-size: 16px;
  }
  .views p
  {
    font-size: 16px;
    text-align: center;
  }
}
@media (max-width: 800px){

}
@media (max-width: 768px){


  .search button
  {
    top:8%;
  }
  .navbar-toggle ,.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #1279bb;
    float: right;
    padding: 20px 5px 5px;

  }
  .navbar-header {
    background: #1279bb;
    border-radius: 10px;
  }
  .navbar-default .navbar-toggle .icon-bar
  {
    background-color: white;
  }
  .navbar-default .navbar-nav>.active>a:after {
    height: 0;
  }
  .navbar-default .navbar-toggle {
    border-color: #1279bb
  }
}
@media (max-width: 480px){

}
@media (max-width: 360px){

}
@media (max-width: 320px){

}

.navside {
  z-index: 999999;
}
