@font-face{

  font-family: 's360r';
  src:url('fonts/ROBOTO-REGULAR.TTF');
}

@font-face{

  font-family: 's360b';
  src:url('fonts/ROBOTO-BOLD.TTF');
}
@font-face{

  font-family: 's360t';
  src:url('fonts/ROBOTO-THIN.TTF');
}
body{
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: 's360r';
}
.top-header a
{
  float: right;
  color: #d1d1d1;

}
.search input {

  height: 40px;
}
.search button {
  position: absolute;
  top: 55px;
  left: auto;
  border-radius: 25px;
  height: 30px;
  width: 30px;
  padding: 5px;
  background: #1279bb;
  color: white;
  right: 20px;
}
.goals
{
  height: auto;
}
.views {

  height: 414px;
}

.social {
  text-align: left;
}
