@font-face{

  font-family: 's360r';
  src:url('fonts/HelveticaNeueW23-Reg.ttf');
}

@font-face{

  font-family: 's360b';
  src:url('fonts/HelveticaNeueW23-Bd.ttf');
}
@font-face{

  font-family: 's360t';
  src:url('fonts/ROBOTO-THIN.TTF');
}
.list-inline,.list-unstyled,p{
  margin: 0px;
}

a, .btn {
  text-decoration: none !important;
  outline: none !important;
  color: #0065a4;
}
a:hover {
  color: #000;
}
body{
  font-family: 's360r';
  color: #1a1c1d;
}
h1, h2, h3, h4, h6, h5, b, strong {
  font-family: 's360b';
  font-weight: 300;
}
.top-header
{
  margin: 20px 15px;
}
.top-header a
{
  float: left;
  color: #d1d1d1;

}
.navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
  }
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default
{
  background-color: white;
  margin: 50px 0 0;
  border:0;

}
.navbar-default .navbar-nav>li>a
{
  font-size: 16px;
  font-family: 's360b';
  font-weight: bold;
  padding: 15px 13px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
  background-color: white;
  color: #71afd6;
}

.navbar-default .navbar-nav>.active>a:after
{
  content: '';
  position: absolute;
  transition: all 300ms;
  height: 3px;
  background: #71afd6;
  bottom: -10px;
  width: 40px;
}
button.btn.dropdown-toggle.btn-default {
  border: none;
  background-color: white;
  box-shadow: none;
  padding: 0;
}
button.btn.dropdown-toggle.btn-default:focus
{
  outline: none !important;

}
.bootstrap-select.btn-group .dropdown-toggle .caret
{
  display: none;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: auto;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left;
  font-size: 17px;
  color: #777777;
  font-weight: bold;
}
.search
{
  margin: 50px 0 0;
}
.search input
{
  width: 100%;
  position: relative;
  border-radius: 30px;
  height: 50px;
  box-shadow: none;
  outline: none;
  padding: 20px;
  background: #f5f5f5;
  border: none;
  font-size: 16px;
}
.search button
{
  position: absolute;
  top: 55px;
  left: 23px;
  border-radius: 25px;
  height: 40px;
  width: 40px;
  background: #1279bb;
  color: white;
}
.search button:focus,
.search button:hover
{
  color: white;
}
input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
  opacity: 1
}
.search input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #9f9f9f;
  opacity: 1
}
.search input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #9f9f9f;
  opacity: 1
}
.search input.form-control:-moz-placeholder { /* Firefox 18- */
  color: #9f9f9f;
  opacity: 1
}
.dropdown-menu.open {
  max-height: 275px;
  overflow: hidden;
  min-height: 0px;
  width: auto;
  border-radius: 20px;
  box-shadow: none;
  background: rgb(24, 123, 188);
  opacity: 0.9;
  border: 0;

}

ul.dropdown-menu.inner
{
  background: rgb(24, 123, 188);
  max-height: fit-content !important;
}
.dropdown-menu>li>a
{
  color: white;
  font-size: 14px;
  padding: 7px 40px;
  font-family: 's360b';
}
.dropdown-menu>li>a:hover
{
  font-size: 16px;

}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
{
  background: rgb(24, 123, 188);
  color: white;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after
{
  border-bottom: 6px solid #2f88c2;
}
.dropdown-menu .divider
{
  background: #2e88c1;
  margin: 5px 20px;
  height: 2px;
}
.slider
{
  margin: 5px 0;
}
.owl-carousel {
  direction: ltr;
}
.slider .owl-carousel#sync1 img

{
  display: block;
  width:100%;
  height: auto;
}

.owl-nav {
  display: none;
}

.owl-carousel#sync1 .owl-dots {
  position: absolute;
  left:50%;
  top: 68%;
  transform: translateX(-50%);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff;
}
.company
{
  margin: 80px;
}
.company h1
{
  text-align: center;
}
hr.line {
  width: 5%;
  height: 1px;
  background: #71afd6;
}
.company p
{

  font-family: 's360b';
  font-size: 18px;
  text-align: center;
  line-height: 35px;
  color: #696868;

}
.no-padding
{
  padding: 0;
}
.media-heading {
  margin: 15px;
  font-size: 30px;
}
.media, .media-body {
  overflow: hidden;
  zoom: 1;
  margin: 10px 0;
  font-size: 30px;
}
.media-body span
{
  color: white;
}
.goals
{
  background-color: #1279bb;
  height: 335px;
  padding: 65px 40px;
}
.goals img
{
  padding: 13px 0;
}
.views
{
  background-color: #0a6dad;
  height: 335px;
  padding: 65px 40px;
}
.goals hr.line {
  width: 10%;
  height: 1px;
  background: #5499c6;
  margin: 10px 20px;
}
.goals li
{
  color: white;
  font-size: 18px;
  line-height: 30px;
}
.views p
{
  color: white;
  font-size: 18px;
  font-family: 's360b';
  text-align: justify;
  line-height: 30px;
  padding: 0 20px;
}
.views hr.line {
  width: 10%;
  height: 1px;
  background: #5499c6;
  margin: 10px 20px;
}
.views img
{
  padding: 20px 0;
}
.service
{
  background-image: url(images/service.png) ;
  background-repeat: no-repeat;
  background-size: cover;
}
.our-works
{
  margin: 60px 0;
}
.work1
{
  margin: 40px 0;
}
span.works {
  float: right;
  padding: 20px;
  font-size: 20px;
  text-align: -webkit-center;
}
span.works
{
  float: none;
  padding:inherit;
}
.types
{
  text-align: center;
  padding: 30px 0;
}
.circle
{
  border: 1px solid #d1d1d1;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: url(images/work.png) no-repeat center;
  margin: 0 auto;

}
.circle:hover
{
  background: url(images/work1.png) no-repeat center;
  background-color: #1279bb;
  border :1px solid #1279bb;
  padding: 60px;
  transition: 1s;
}
.circle:hover img
{
  display: none;
}

.circle1
{
  border: 1px solid #d1d1d1;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: url(images/elec.png) no-repeat center;
  margin: 0 auto;

}
.circle1:hover
{
  background: url(images/elec1.png) no-repeat center;
  background-color: #1279bb;
  border :1px solid #1279bb;
  padding: 60px;
  transition: 1s;
}
.circle1:hover img
{
  display: none;
}

.circle2
{
  border: 1px solid #d1d1d1;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: url(images/wifi.png) no-repeat center;
    margin: 0 auto;

}
.circle2:hover
{
  background: url(images/wifi1.png) no-repeat center;
  background-color: #1279bb;
  border :1px solid #1279bb;
  padding: 60px;
  transition: 1s;
}
.circle2:hover img
{
  display: none;
}
.circle3
{
  border: 1px solid #d1d1d1;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: url(images/shape.png) no-repeat center;
    margin: 0 auto;

}
.circle3:hover
{
  background: url(images/shape1.png) no-repeat center;
  background-color: #1279bb;
  border :1px solid #1279bb;
  padding: 60px;
  transition: 1s;
}
.circle3:hover img
{
  display: none;
}


.circle4
{
  border: 1px solid #d1d1d1;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: url(images/fire.png) no-repeat center;
    margin: 0 auto;

}
.circle4:hover
{
  background: url(images/fire1.png) no-repeat center;
  background-color: #1279bb;
  border :1px solid #1279bb;
  padding: 60px;
  transition: 1s;
}
.circle4:hover img
{
  display: none;
}

.circle5
{
  border: 1px solid #d1d1d1;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: url(images/lap.png) no-repeat center;
  transition: 1s;
    margin: 0 auto;

}
.circle5:hover
{
  background: url(images/lap1.png) no-repeat center;
  background-color: #1279bb;
  border :1px solid #1279bb;
  padding: 60px;
  transition: 1s;
}
.circle5:hover img
{
  display: none;
}


.circle6
{
  border: 1px solid #d1d1d1;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: url(images/cam.png) no-repeat center;
    margin: 0 auto;

}
.circle6:hover
{
  background: url(images/cam1.png) no-repeat center;
  background-color: #1279bb;
  border :1px solid #1279bb;
  padding: 60px;
  transition: 1s;
}
.circle6:hover img
{
  display: none;
}
.prands
{
  background-color: #1470ab;
  padding:100px 0;
  opacity: 0.7
}
.owl-theme .owl-dots .owl-dot span
{
  width: 40px;
  height: 2px;
  background: #5a5e63;
}
.owl-carousel#sync2 img {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
.owl-carousel#sync2 .owl-dots
{
  position: absolute;
  top: 100%;
  left: 50%;
  margin: 50px 0;
  transform: translateX(-50%);
}
.owl-carousel#sync2.owl-theme .owl-dots .owl-dot span
{
  background-color:#68a8d2;
}
.owl-carousel#sync2.owl-theme .owl-dots .owl-dot.active span,
.owl-carousel#sync2.owl-theme .owl-dots .owl-dot:hover span
{
  background-color: white;
}
footer hr.line {
  width:50px;
  margin: 30px 0;
}
footer .info li
{
  padding: 5px 0;
}
footer .info i
{
  font-size: 16px;
  color: #1279bb;
}
footer .info span
{
  font-size: 16px;
  font-family: 's360t';
  font-weight: bold;
  padding: 0 10px;
}

.social
{
  text-align: right;
  margin: 20px 0;
}
.social a
{
  margin-left: 5px;
}
i.fa.fa-whatsapp
{
  color: white;
  width: 40px;
  height: 40px;
  background-color: #5dcd51;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}
i.fa.fa-youtube-play
{

  width: 40px;
  height: 40px;
  background-color: #dc493c;
  border-radius: 50%;
  padding: 8px;
  font-size: 22px;
  color:white ;
}
i.fa.fa-twitter
{
  width: 40px;
  height: 40px;
  background-color:#55acee;
  border-radius: 50%;
  padding: 8px;
  font-size: 22px;
  color:white ;
}
i.fa.fa-facebook
{
  width: 40px;
  height: 40px;
  background-color: #3c599f;
  border-radius: 50%;
  padding: 12px;
  font-size: 22px;
  color:white ;
}
footer .copyright
{
  padding: 10px 0;
}
footer .copyright p
{
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}
footer .copyright a:hover
{
  color: #0065a4;
}
.form-control
{
  border-radius: 22px;
  padding: 25px 10px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}
label
{
  margin-bottom: 10px;
}

.area
{
  margin: 30px 0;
}
.form1 button.btn
{
  background-color: #1279bb;
  color: white;
  padding: 15px 0;
  border-radius: 20px;
  width: 15%;
  font-weight: bold;
}
.form1 button.btn:hover
{
  color: white;
}
footer
{
  margin: 80px 0;
}
